{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Zusammenfassung {% endblock %}
{% block body %}
    <!-- md container breaks if smaller than 768-->
    <div class="container mb-5">
      <div class="row text-center justify-content-center mb-5">
        <div class="col-auto gy-3">
          <img src="{{ asset('pics/KKHT-logo.png') }}" alt="KKHT SWK Logo" class="kkhtlogo">
          <h1 class="mt-2">SWK Pfingstturnier</h1> <span class="number">{{ constant('App\\Config::SWK_YEAR') }}</span>
        </div>
      </div>

      <p>Danke für die Anmeldung von <strong>{{ playerInfo.vorname }} {{ playerInfo.nachname }}</strong> für das SWK Pfingstturnier.</p> 

      <p>Wir haben eine Email an die genannte Kontaktadresse ({{ playerInfo.kontakt.email}}) gesendet. Bei Rückfragen 
      melde Dich bitte beim Orga Team unter <a href="mailto:pfingsten@kkht.de">pfingsten@kkht.de</a>.
      </p>

      <p class="text-center"><small><i>Eine <a href="/player/register">weitere Person</a> anmelden.</i></small></p>

    </div>
{% endblock %}
