{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Anmeldung {% endblock %}
{% block body %}
    <!-- md container breaks if smaller than 768-->
    <div class="container">
      <div class="row text-center justify-content-center mb-5">
        <div class="col-auto gy-3">
          <img src="{{ asset('pics/KKHT-logo.png') }}" alt="KKHT SWK Logo" class="kkhtlogo">
          <h1>SWK Pfingstturnier</h1> <span class="number">2024</span>
        </div>
      </div>

      <h2>Anmeldeformular für externe Teams</h2>
      <p>Herzlich Willkommen beim Pfingstturnier 2024 von Schwarz-Weiß Köln. 
      Vom 18.-20. Mai 2024 wird auf der SWK-Anlage im Kölner Norden "gezockt".
      Mit diesem Formular können externe Teams, also unsere Gäste, angemeldet werden.</p>

      <p>Bitte fülle alle Daten gewissenhaft aus. Viele aufgeführten Felder sind 
      <strong>Pflichtfelder</strong>, müssen also vor dem Absenden des Formulars 
      korrek befüllt sein. Nach 
      erfolgreichem Abschluss erhält die unten anzugebende Kontaktperson eine 
      Zusammenfassung der Anmeldung per Email.</p>

      {% if hasErrors %}
      <p style="color: #dc3545"><strong>Fehler bei der Eingabe - bitte beheben!</strong></p>
      {% endif %}

      {{ form_start(form) }}

        <h3 class="mt-5 mb-3">Teaminformation</h3>
        <p>Bitte gib Vereinsnamen, Altersklasse und voraussichtliche Ankunftszeit (Fr oder Sa, Uhrzeit) 
        des anzumeldenden Teams an. Optional kann auch ein Teamname eingegeben werden.</p>
        <div class="row g-2">
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.verein) }}
          </div>
          <div class="col-sm-6  col-lg-3">
            {{ form_row(form.altersklasse) }}
          </div>
          <div class="col-sm-6  col-lg-3">
            {{ form_row(form.ankunftszeit) }}
          </div>
          <div class="col-sm-6  col-lg-3">
            {{ form_row(form.teamname) }}
          </div>
        </div>

        <h3 class="mt-5 mb-3">Kontaktperson</h3>
        <p>Die Kontaktperson ist die Person, die i.d.R. das Team anmeldet aber vor allem vor Ort begleitet. 
        An diese Person senden wir auch eine Bestätigung der 
        Anmeldung per Email.</p>
        <div class="row g-2">
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.kontakt.vorname) }}
          </div>
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.kontakt.nachname) }}
          </div>
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.kontakt.email) }}
          </div>
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.kontakt.phone) }}
          </div>
        </div>

        <h3 class="mt-5 mb-3">Verpflegung</h3>
        <p>Bitte gib an, wie wir die Verpflegung planen sollen: Wieviele Spieler:innen wünschen eine vegane bzw. eine fleischhaltige Ernährung? 
        Wie sieht es bei den Betreuer:innen aus? (Bitte nur ganze Zahlen eingeben.)</p>
        <div class="row g-2">
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.spielervegan) }}
          </div>
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.spielerfleisch) }}
          </div>
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.betreuervegan) }}
          </div>
          <div class="col-sm-6 col-lg-3">
            {{ form_row(form.betreuerfleisch) }}
          </div>
        </div>
        <p><strong>Resultierende Gesamtkosten: €<span id="m0">{{ currcost }}</span></strong>

        <h3 class="mt-5 mb-3">Bilder</h3>
        <p>Wir brauchen von Euch ein aktuelles Logo (für den Spielplan etc.) sowie ein Teambild, 
        das wir gerne auf unserem <a target="blank" href="https://www.instagram.com/kkht_pfingsten/">Instagram-Kanal</a>
        verwenden würden - da stellen wir immer alle teilnehmenden Teams vor. Wenn ihr das nicht
        wollt, lasst das Teambild einfach weg.</p>
        <div class="row g-2 align-items-center mb-3">
          <div class="col-12 col-md-2">
            <figure style="text-align: center">
              <img src="{{ asset(logoPath) }}" width="80px" alt="Aktuelles Logo">
              <figcaption>Logo</figcaption>
            </figure>
          </div>
          <div class="col-12 col-md-10">
            {{ form_row(form.logo) }}
          </div>
        </div>
        <div class="row g-2 align-items-center">
          <div class="col-12 col-md-2">
            <figure style="text-align: center">
              <img src="{{ asset(picturePath) }}" width="120px" alt="Aktuelles Teambild">
              <figcaption>Team</figcaption>
            </figure>
          </div>
          <div class="col-12 col-md-10 ">
            {{ form_row(form.picture) }}
          </div>
        </div>

        <h3 class="mt-5 mb-3">Sonstiges</h3>
        <p>Hier kann angegeben werden, ob es weitere Campinggäste gibt, die das Team begleiten. Für diese können wir keine 
        Verpflegung etc. einplanen, würden aber gerne informiert werden, damit wir sicherstellen können, dass die Kapazität 
        des Campinggeländes ausreicht. In den Bemerkungen könnt ihr z.B. angeben, ob bzw. mit wie vielen Wohnwagen oder Campervans
        ihr kommt, aber auch sonstige Dinge loswerden.</p>
        <div class="row g-2">
          <div class="col-12">
            {{ form_row(form.gaeste) }}
          </div>
          <div class="col-12">
            {{ form_row(form.bemerkung) }}
          </div>
        </div>


        <h3 class="mt-5 mb-3">Bankdaten für SEPA Einzug</h3>
        <p>Wir werden die Gesamtsumme für die gebuchten Verpflegungspakete in Höhe von 
        <strong>€ <span id="m1">{{ currcost }}</span></strong> über den Verein <strong>Blackstars e.V.</strong>von einem Bankkonto einziehen. 
        Dazu benötigen wir eine entsprechendes SEPA-Mandat.</p>
        <p>
        Hiermit ermächtige ich den <strong>Blackstars e.V.</strong> einmalig den resultierenden 
        Gesamtbetrag in Höhe von <strong>€ <span id="m2">{{ currcost }}</span></strong> von dem unten genannten Konto einzuziehen. Der 
        Einzug wird nicht vor dem 12.05.2024 erfolgen.</p>
        <div class="row g-2">
          <div class="col-sm-6">
            {{ form_row(form.account.iban) }}
          </div>
          <div class="col-sm-6">
            {{ form_row(form.account.bic) }}
          </div>
          <div class="col-sm-6">
            {{ form_row(form.account.bank) }}
          </div>
          <div class="col-sm-6">
            {{ form_row(form.account.kontoinhaber) }}
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-auto">
            <p> Mit dem Absenden dieses Formulars melde ich den oben genannte 
            Spieler/die oben genannte Spielerin verbindlich an. Ich stimme dem 
            Einzug der Teilnahmegebühr in Höhe von <strong>€ <span id="m3">{{ currcost }}</span></strong> von dem genannten Bankkonto 
            explizit zu. Ich weiß, dass ich den Spieler/die Spielerin im Falle eines
            schwerwiegenden Verstoßes gegen die Verhaltensregeln (z.B. Alkoholkonsum) nach Aufforderung
            des Organisationsteams ggf. abholen muss.</p>
          </div>
        </div>      

        <div class="row mt-5 justify-content-center">
          <div class="col-auto">
            {{ form_row(form.submit) }}
          </div>
        </div>

        {{ form_rest(form) }}

      {{ form_end(form) }}

    </div>
    {# 
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script> 
    <script src="{{ asset('js/script.js') }}"></script>
    #}
{% endblock %}
