
<p>
    Hallo,<br /><br />Danke für die Anmeldung des Teams <strong>{{ team.verein }} ({{ team.altersklasse }})</strong> zu unserem SWK Pfingstturnier!
</p>

<p>
    Hier noch einmal die Details der Anmeldung:
</p>
<table>
<tr style="line-height: 1.6;"><td colspan="2"><strong>Kontaktperson</strong></td></tr>
<tr><td style="padding-left: 20px;">Vorname:</td><td>{{ contact.vorname }}</td></tr>
<tr><td style="padding-left: 20px;">Nachname:</td><td>{{ contact.nachname }}</td></tr>
<tr><td style="padding-left: 20px;">E-Mail:</td><td>{{ contact.email }}</td></tr>
<tr><td style="padding-left: 20px;">Telefon:</td><td>{{ contact.phone }}</td></tr>

<tr style="line-height: 1.6;"><td colspan="2"><strong>Verpflegung</strong></td></tr>
<tr><td style="padding-left: 20px;">Spieler:innen vegan:</td><td>{{ team.spielerVegan }}</td></tr>
<tr><td style="padding-left: 20px;">Spieler:innen fleisch:</td><td>{{ team.spielerFleisch }}</td></tr>
<tr><td style="padding-left: 20px;">Betreuer:innen vegan:</td><td>{{ team.betreuerVegan }}</td></tr>
<tr><td style="padding-left: 20px;">Betreuer:innen fleisch:</td><td>{{ team.betreuerFleisch }}</td></tr>
<tr><td style="padding-left: 20px;">Gesamtkosten in €:</td><td>{{ team.cost }}</td></tr>

<tr style="line-height: 1.6;"><td colspan="2"><strong>Sonstiges</strong></td></tr>
<tr><td style="padding-left: 20px;">Ankunftszeit:</td><td>{{ team.ankunftszeit }}</td></tr>
<tr><td style="padding-left: 20px;">Logo:</td><td>{{ team.logoPath ? 'Liegt vor' : 'Liegt nicht vor' }}</td></tr>
<tr><td style="padding-left: 20px;">Teambild:</td><td>{{ team.picturePath ? 'Liegt vor' : 'Liegt nicht vor' }}</td></tr>
<tr><td style="padding-left: 20px;">Gäste:</td><td>{{ team.gaeste }}</td></tr>
<tr><td style="padding-left: 20px;">Bemerkung:</td><td>{{ team.bemerkung }}</td></tr>

<tr style="line-height: 1.6;"><td colspan="2"><strong>Bankverbindung</strong></td></tr>
<tr><td style="padding-left: 20px;">IBAN:</td><td>{{ account.iban }}</td></tr>
{% if account.bic %}
<tr><td style="padding-left: 20px;">BIC:</td><td>{{ account.bic }}</td></tr>
{% endif %}
<tr><td style="padding-left: 20px;">Bank:</td><td>{{ account.bank }}</td></tr>
<tr><td style="padding-left: 20px;">Inhaber:in:</td><td>{{ account.kontoinhaber }}</td></tr>
</table>

<p>Änderungen kannst Du bis ca. 14 Tage vor dem Turnier unter dem folgenden Link vornehmen:<br /><br />

&nbsp;&nbsp;<a href="{{ editLink }}">{{ editLink }}</a><br /><br />

<strong>Achtung:</strong> Jede Person, die über diesen Link verfügt, kann Anpassungen vornehmen - teile ihn nur mit Personen, denen Du vertraust!

</p>
<p>
    Bei Rückfragen melde Dich bitte unter <a href="mailto:pfingsten@kkht.de">&lt;pfingsten@kkht.de&gt;</a>.
</p>
<p>
Beste Grüße vom Orga-Team!
</p>
